
body {
	padding-top: 50px;
}

.navbar-brand {
	font-size: 30px;
}

.navbar {
	font-size: 15px;
}

.btn-success {
	background-color: #2b2d2e;
	border-color: grey;

}
.btn-success:hover {
   background-color: grey;
		border-color: white;
}

.panel-contact {
	padding-top: 30px;
}

.form {

}

.message {
  padding-bottom: 20px;
}







footer {
	height: 100px;
	width: 100%;
	background-color: #2b2d2e;
	color:white;
	bottom: 0;
}

footer .container {
	width: auto;
	max-width: 80%;
	padding-top: 20px;

}

footer .container .text-muted {
	margin: 20px 0;
}

.footer-links {
	float: right;
}

.footer-links > li {
	display: inline-block;
	margin-left: 0;
}

.footer-links > li > a {
	border-right: 1px solid #e3e3e3;
	margin-right: 0.3333em;
	padding: 0 0.5em 0 0 ;
	white-space: nowrap;
	color: white;
}
