
body {
	padding-top: 50px;

}



.navbar-brand {
	font-size: 30px;
}

.navbar {
	font-size: 15px;
}

.btn-success {
	margin-left: 180px;

}


.smoke
{
    color: white;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.chere {
	background-color: #2b2d2e;
	border-color: white;
}

.chere:hover {
	background-color: grey;
	border-color: white;
}

.carousel.slide h1 {
	font-size: 60px;
}

.carousel.slide {
	font-size: 20px;
}

.carousel.slide img {
  width: 100%;
  max-height: 560px;
}



.tattoo-phonebook {
	padding-bottom: 20px;
}

.jumbotron p {
	font-size: 30px;
}

.jumbotron a {
	color: white;
}

.what-is {
	text-align: center;
}

.what-is p {
	font-size: 15px;
}

.learn-more {
	padding-bottom: 80px;
	padding-top: 20px;
}


.tattoo-phonebook {
	background-color: #E8E8E8;
	text-align: center;
	padding-top: 15px;
}


footer {
	height: 100px;
	width: 100%;
	background-color: #2b2d2e;
	color:white;
	bottom: 0;
}

footer .container {
	width: auto;
	max-width: 80%;
	padding-top: 20px;

}

footer .container .text-muted {
	margin: 20px 0;
}

.footer-links {
	float: right;
}

.footer-links > li {
	display: inline-block;
	margin-left: 0;
}

.footer-links > li > a {
	border-right: 1px solid #e3e3e3;
	margin-right: 0.3333em;
	padding: 0 0.5em 0 0 ;
	white-space: nowrap;
	color: white;
}


#custom-search-input{
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
}

#custom-search-input input{
    border: 0;
    box-shadow: none;
}

#custom-search-input button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

#custom-search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search{
    font-size: 23px;
}

.end input{
	margin-top: 4px;
}


.pending td {
	text-align:left;
}


.kids img {
	height: 300px;
}
